html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2e2e2e; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}    

.hero.is-dark .navbar-menu {
    background-color: transparent;
}

.header-image {
    background-image: url('../resources/img/header.PNG');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.darken{
    filter: brightness(50%);
}
.img-responsive {
      display: block; 
      max-width: 100%;
      height: auto;
   }
.navbar-item{
  color: #ffffff;
}
a{
    color: #3a3a3a;
}
a:hover{
    color: darkslateblue;
}